/* Estilos Gerais */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  
:root{

    --preto-padrao: #0E0D0D;
    --rosa-font:#D47ECC;
    --rodape:#131313;

}

/* CARROSSEL */

.topo {
    /*position: relative;
    width: 100%;
    height: 100%;  Altura total da viewport */
    /* background-color: #ccc; Cor de fundo para visualização */
    /* overflow: hidden; Oculta conteúdo além das bordas */
}

.topo{

    width: 100%;
    height: 50vh;
    background-image: url(/src/imagens/topo.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position:bottom  ;
}
.caixa-topo{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topo h2{
    padding-top: 5%;
    text-align: center;
    width: 90%;
    color: #fff;
    font-size: 5vw;
}
.topo span{
    color: var(--rosa-font);
}
.container-slider {
    position: relative;
    width: 100%;
    height: 100%; /* Ocupa toda a altura da .topo */
}

.background-slider {
    position: relative;
    width: 100%;
    height: 100%; /* Ocupa toda a altura da .topo */
    overflow: hidden; /* Oculta conteúdo além das bordas */
}

.background-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto levemente opaco */
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719); /* Fundo preto levemente opaco */
    z-index: 1; /* Coloca o fundo sobre as imagens */
}

.slider {
    display: flex;
    width: auto;
    height: 100%; 
    max-height: 80vh;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem ao tamanho do contêiner */
}

.background-slider h2 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
    z-index: 1; /* Garante que o texto fique acima das imagens */
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
    font-size: 1vw;
    border: 1px solid red;
    padding: 5%;
}

.caixa-texto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 4px solid rgb(0, 255, 55);
}
.background-slider span{

    color: var(--rosa-font) ;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
}

.btn{
    position: absolute;
    top: 70%;
    left: 19%;
    width: 60%;
    text-align: center;
    margin: 0;
    color: white;
    z-index: 1; /* Garante que o texto fique acima das imagens */
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
    box-shadow: -1px -1px 20px #5AAD26;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to bottom, #5AAD26, #0C1E0D);
    padding: 2%;
    cursor: pointer;
    
}

.btn-2{
    width: 60%;
    text-align: center;
    margin: 5% 0;
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
    box-shadow: -1px -1px 20px #5AAD26;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: linear-gradient(to bottom, #5AAD26, #0C1E0D);
    padding: 2%;
    cursor: pointer;
}

.como-funciona{
    background-color: var(--preto-padrao);
}

.como-funciona h2{
    color: var(--rosa-font);
    text-transform: uppercase;    
}

.perguntas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--preto-padrao);
    padding-bottom: 12vh;
}

.perguntas h2{
    color: var(--rosa-font);
    border-bottom: 1px solid #D47ECC;
    padding: 1vw;
    align-self: self-start;
    font-size: 4vw;

}
summary {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1vw;
    font-weight: 500;
    font-size: 4vw;
    border-bottom: 1px solid white;
    
   

}
.caixa-respostas{
    display: flex;
    background-color: var(--rosa-font);
    width: 100%;
    color: var(--preto-padrao);
    font-weight: 500;
}

.caixa-respostas p{
    padding: 4vh;
    font-size: 3vw;
}
.caixa-perguntas{
    background-color: var(--preto-padrao);
    padding: 0;
    margin: 0;
    
}

.icon{
    width: 1vw;
}
footer{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    

}
.area-footer{
    display: flex;
    width: 80%;
    

}
.footer-direito{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
}
.footer-esquerdo{
    display: flex;
    width: 50%;
}
footer p{
    font-size: 5vw;
    font-weight: 300;
}
.area-footer span{

    font-weight: 500;
    color: var(--rosa-font);
}

@media (max-width: 767px) {

    /* barra de navegação */
    
    .mobile{
        background-color: var(--preto-padrao);
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .background-slider{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .background-slider h2{
        position: absolute;
        top: 15%;
        left: 15;
        width: 100%;
        text-align: center;
        margin: 0;
        color: white;
        z-index: 1; /* Garante que o texto fique acima das imagens */
        font-weight: 400;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
        font-size: 7vw;
    }

    .btn{
        width: 60%;
        text-align: center;
        margin: 5% 0;
        color: white;
        font-weight: 400;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.445);
        box-shadow: -1px -1px 20px #5AAD26;
        border-radius: 10px;
        justify-content: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        background: linear-gradient(to bottom, #5AAD26, #0C1E0D);
        padding: 2%;
        cursor: pointer;
    }
   
    .areaburguer{
        width: 10%;
        margin: 1%;
        cursor: pointer;
    }
    .barra{
        height: .5rem;
        margin: .2rem;
        background-color: rgb(255, 255, 255);
    }
    .desktop{
        display: none;
    }
    .menu-burguer{
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.363);
    }

    .menu-burguer li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;        
    }
   
    .menu-burguer a{
        color: #212121;
        text-decoration: none;
        font-size:large;
        padding: 2% 0;
    }

}


/*topo*/

.topo{

    width: 100%;
    background-image: url(/src/imagens/topo.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position:bottom  ;
}
.caixa-topo{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topo h2{
    padding-top: 5%;
    text-align: center;
    width: 90%;
    color: #fff;
    font-size: 5vw;
}
.topo span{
    color: var(--rosa-font);
}

.como-funciona .title{
    font-size: x-large;
    font-weight: 700;
    color: var(--rosa-font);
    text-transform: uppercase;
}
.como-funciona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.como-funciona .area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.como-funciona img{

    background-color: var(--rosa-font);
    margin: 5%;
    border-radius: 120px;
    background-size: contain;
    padding: 5%;
    width: 4rem;   
}

.como-funciona h2  {
    
    width: 60%;
    color: white;
    font-size: medium;
    text-align: center;
    text-transform: none;
    font-weight: 450;
}

.como-funciona p{
    
    width: 80%;
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: small;
    padding-bottom: 6%;
}

.end{
    padding-bottom: 1rem;
}

            /*  QUEM SOMOS */

.quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quem-somos h2{
    padding: 0 3%;
    border-bottom: 2px solid var(--rosa-font);
}
.quem-somos p{
    padding-bottom: 4rem;
    text-align: start;
    width: 80%;
    font-size: small;
}

            /* COMO FUNCIONA */

.como-funciona{
  
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.como-funciona h2{
    color: var(--rosa-font);
    font-size: x-large;
    font-weight: 450;
}

.slider-2 img{
    display: flex;
}

        .icon{
            width: 3vw;
        }

        /* SERVIÇOS */

        .servicos {
            background-image: url(/src/imagens/bg-black.png);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }
        .servicos h2{
            color: var(--rosa-font);
            font-size: x-large;
            
        }
        .content-slider-2 {
            position: relative;
            width: 100%;
            overflow: hidden;
           
        }
        
        .slider-2 {
            display: flex;
            transition: transform 0.5s ease;
            
            width: 100%;
        }
        
        .slider-2 img {
            border: 1px solid red;
            margin: 0 50px;
            width: 100%;
            height: auto;
            object-fit: cover; /* Para cobrir o espaço sem distorcer a imagem */
        }
        
        button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            cursor: pointer;
            z-index: 1;
        }
        
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--rodape);
       
    }

            /* MODAL */

            .content-modal{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
             .modal {
                display: flex;
                flex-direction: column; 
                justify-content: flex-start; 
                align-items: flex-end; /* Alinha os itens à direita */
                overflow-y: auto; 
                width: 11vw;
                height: 65vh; /* Altura máxima do modal */
                padding: 10px; /* Espaçamento interno */
            }
          
            .display-modal{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100vw;
              flex-direction: column;
              
            }
            .modal{
                display: flex;
                
                width: 92%;
                flex-direction: row;
                height: auto;
            }
            .modal img {
                width: 30%; 
                margin-left: 10px; 
                cursor: pointer; 
                
            }
            
            .modal img:hover {
                opacity: 0.5; 
            }
          
            
            .display {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                height: 100%;
            }
            
            /* Estilização do scroll */
            .modal::-webkit-scrollbar {
                width: 10px; /* Largura do scroll vertical */
            }
            
            .modal::-webkit-scrollbar-track {
                background-color: #333; /* Cor de fundo da barra de scroll */
            }
            
            .modal::-webkit-scrollbar-thumb {
                background-color: #ec8de3; /* Cor do thumb (o scroll em si) */
                border-radius: 5px; /* Borda arredondada */
            }
            
            .modal::-webkit-scrollbar-thumb:hover {
                background-color: #b25ac4; /* Cor do thumb ao passar o mouse */
            }

            
    footer p{
        color: white;
        text-align: center;
        font-size: small;
        font-weight: 100;
        width: 80%;
    }

    @media (min-width: 770px){

                        /* BARRA DE NAVEGAÇÃO */
        .mobile{
            display:none;
        }
        .desktop{
          
            background-color: var(--preto-padrao);
            height: 100%;
        }
        .desktop ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            margin: 0;
        }
        .logo{
            width: 80%;
        }
        .desktop li{
        
            display: flex;
            
            
        }
        .desktop a{
            color: white;
            text-decoration: none;
            padding: 3%;
            width: 15vw;
            font-size: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s ease;
            
        }
        .desktop a:hover{
            color: rgba(255, 255, 255, 0.555);
            
            
        }
    
            /* COMO FUNCIONA */

        .como-funciona{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }    
        .caixa-desktop{
            display: flex;
            padding-bottom: 10vh;
        }
        .como-funciona .area{
            border: 2px solid #D47ECC;
            box-shadow: 1px 1px 10px #d47ecb5b;
            border-radius: 20px;
            margin: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35vw;
            transition: all .5s ease;
        }
        .como-funciona .area:hover{
           
            box-shadow: 1px 1px 20px #d47ecbbe;
           
        }
        .como-funciona h2{
            padding-top: 4vh;
            font-size: 1.6vw;
        }
        .como-funciona p{
            font-size: 1.1vw;
        }

        .como-funciona img{
            border-radius: 25px;
        }
        
        .caixa-degrade{
            
        
            background: linear-gradient(to bottom, #0E0D0D, #0E0D0D,  #70426c);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .caixa-degrade p{
            color: white;
            font-size: 2vw;
            padding-bottom: 2vh;
        }

                /* QUEM SOMOS */
    
        .quem-somos{
           
            display: flex;
            justify-content:right;
            align-items:start;
            flex-direction: column;
            padding:  10% 0;
        }

        .quem-somos h2{
            font-size: 2vw;
            text-align: start;
        }
        .quem-somos p{
            font-size: 1.2vw;
            padding-left: 10%;
        }
                         /* MODAL */
                        .content-modal{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        
                        }
                         .modal {
                           
                            display: flex;
                            flex-direction: column; 
                            justify-content: flex-start; 
                            align-items: flex-end; /* Alinha os itens à direita */
                            overflow-y: auto; 
                            width: 11vw;
                            height: 65vh; /* Altura máxima do modal */
                            padding: 10px; /* Espaçamento interno */
                        }
                            
                        .display-modal{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          flex-direction: row;
                          width: 100vw;
                        }
                        .modal img {
                            width: 100%; 
                            margin-bottom: 10px; 
                            cursor: pointer; 
                        }
                        
                        .modal img:hover {
                            opacity: 0.5; 
                        }
                         .imagemgrand {
                            padding-right: 7vw;
                        }
                        
                        .display {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 20px;
                            height: 100%;
                        }
        .btn-2{
            width: 27%;
            height: 0;
            font-size: 1.3vw;
            transition: all .2s ease-in-out ;
        }
        .btn-2:hover{
            box-shadow: -1px -1px 30px #5AAD26;
            text-shadow: 1px 2px 4px black;
        }
        
                /* PERGUNTAS */

                .perguntas{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: var(--preto-padrao);
                    padding-bottom: 12vh;
                    
                }
                
                .perguntas h2{
                    color: var(--rosa-font);
                    border-bottom: 1px solid #D47ECC;
                    width: 25vw;
                    padding: 1vw;
                    align-self: self-start;
                    font-size: 2vw;
                }
                summary {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    padding: 1vw;
                    font-weight: 500;
                    font-size: 1.5vw;
                    border-bottom: 1px solid white; 
                   
                
                }
                .caixa-respostas{
                    display: flex;
                    background-color: var(--rosa-font);
                    width: 100%;
                    color: var(--preto-padrao);
                    font-weight: 500;
                }
                
                .caixa-respostas p{
                    padding: 4vh;
                    font-size: 1.3vw;
                }
                .caixa-perguntas{
                    background-color: var(--preto-padrao);
                    padding: 0;
                    margin: 0;
                    
                }
                    /* RODAPÉ */
        footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 100%;
            padding-bottom: 5vh;
        }
        .area-footer{
            display: flex;
            width: 80%;

        }
        .footer-direito{
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 50%;
        }
        .footer-esquerdo{
            width: 50%;
        }
        footer p{
            font-size: 1.1vw;
            font-weight: 300;
        }
        .area-footer span{

            font-weight: 500;
            color: var(--rosa-font);
        }
    }

    